<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Mild.MembershipProvider.Properties.Settings.Mild_MembershipProviderConnectionString"
            connectionString="Data Source=GRACE;Initial Catalog=Mild.MembershipProvider;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>